@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px auto;
    padding: 0px;
}
.first-bg{
height: 760px;
background-image: url(../assets/Hero-bg.png);
background-size: cover;
background-position: center;
}
.head{
position: absolute;
width: 998px;
height: 600px;
left: 221px;
right: 221px;
top: 157px;
bottom: 4000px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.head-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 35px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
.head-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
width: 208px;
height: 66px;
border-radius: 8px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
background: rgb(13, 19, 33);
text-decoration: none;
}
.title-2{
    color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 600;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.second-section{
width: 1140px;
margin: 50px auto;
display: flex;
flex-direction: column;
align-items: center;
padding: 80px 97px;
background: #0D132105;
border-radius: 16px;
}
.second-div{
display: flex;
    flex-direction: column;
    align-items: center;
}
.head-2{
position: static;
width: 852px;
height: 115px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 48px 0px;
color: rgb(13, 19, 33);
}
.box{
position: static;
width: 946px;
height: 336px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
position: static;
width: 850px;
height: 240px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.b-image{
position: relative;
width: 274.17px;
height: 240px;
}
.b-title{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.b-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
}
.btn-b{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
position: static;
width: 150px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
color: rgb(13, 19, 33);
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.p-2{
    opacity: 0.7;
}
.main{
    margin-top: ;
    margin-left: 130px;
    margin-right: 130px;
}
.third-div{
position: absolute;
width: 1140px;
height: 775px;
left: 148px;
right: 152px;
top: 2340px;
bottom: 1800px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 100px;
}
.title-3{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.description-3{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.video{
position: static;
width: 1148;
height: 614px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 32px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
}
.jkh{
position: static;
width: 1076px;
height: 550px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 10px 0px;
}
.box-t{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.box-p{
    padding: 10px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
.linkk{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}
#section-b{
position: absolute;
width: 1600px;
height: 1437px;
left: 150px;
right: 150px;
top: 3266px;
bottom: 560px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
}
.div-4{
position: static;
width: 1500px;
height: 640px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px auto
}
.head-4{
position: static;
width: 1060px;
height: 150px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 5px;
}
.box-4{
position: static;
width: 1140px;
height: 299px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
margin: 48px 0px;
}
.items-1{
position: static;
width: 364px;
height: 299px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}
.items-2{
position: static;
width: 364px;
height: 299px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;
}
.items-3{
position: static;
width: 364px;
height: 299px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 24px;
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
#footer{
position: absolute;
width: 94.5%;
height: 80px;
left: 0;
top: 4600px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 25px 50px;
    border-radius: 16px;
    background: #0D132108;
}
.last-div{
position: static;
width: 94%;
height: 40px;
display: flex;
flex-direction: row;
justify-items: space-between;
align-items: center;
padding: 5px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.div-5{
    background-image: url(../assets/handshake.jpg);
position: absolute;
width: 1140px;
height: 300px;
left: 150px;
right: 150px;
top: 4000px;
bottom: 180px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 64px 48px 64px 48px;
border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
background-size: cover;
background-position: center;
}
.bar{
position: static;
width: 684px;
height: 57px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
}
.item-5{
position: static;
width: 1044px;
height: 185px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.footer-h{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.footer-p{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
#input{
position: static;
width: 560px;
height: 23px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 17px 20px 17px 20px;
border-radius: 8px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
}
#last-btn{
/* Frame 8 */
position: static;
width: 120px;
height: 57px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 20px 17px 20px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
border-radius: 8px;

background: rgb(255, 255, 255);
}

